$white_color: #fff;
$grey_color: rgba(255, 255, 255, 0.7);
$blackgrey_color: #464547;
$blackgr:#666666;
$grey2: rgba(255, 255, 255, 0.4);
$blue_color: #55C2D8;
$oswald_font: 'Oswald', sans-serif;
$source_font: 'Source Sans Pro', sans-serif;